.hovershine figure {
	position: relative;
}
.hovershine figure::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	content: '';
	width: 5%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hovershine figure:hover::before {
	-webkit-animation: shine 1s;
	animation: shine 1s;
}
@-webkit-keyframes shine {
	100% {
		left: 80%;
	}
}
@keyframes shine {
	100% {
		left: 80%;
	}
}



.hoverzoomin figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hoverzoomin figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}



.hoverflip {
    margin: auto;
    position:relative;
    width:300px;
    height:300px;
    /*width:268px;
    height:249px;*/
    overflow:hidden;
}
.hoverflip figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    margin-left:-50px
}
.hoverflip figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0
}
.hoverflip figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.hoverflip figure h2 {
    font-family:'Lato';
    color:#fff;
    font-size:20px;
    text-align:center;
}
.hoverflip figure p {
    display:block;
    font-family:'Lato';
    font-size:16px;
    line-height:18px;
    margin:0;
    color:#fff;
    text-align:left;
    padding-left:20px
}
.hoverflip figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color:rgba(0, 0, 0,0.6);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.hoverflip figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.hoverflip figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.hoverflip figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}


.myButton {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #74cfab));
    background:-moz-linear-gradient(top, #eae0c2 5%, #74cfab 100%);
    background:-webkit-linear-gradient(top, #eae0c2 5%, #74cfab 100%);
    background:-o-linear-gradient(top, #eae0c2 5%, #74cfab 100%);
    background:-ms-linear-gradient(top, #eae0c2 5%, #74cfab 100%);
    background:linear-gradient(to bottom, #eae0c2 5%, #74cfab 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#74cfab',GradientType=0);
    background-color:#eae0c2;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
    cursor:pointer;
    color:#505739;
    padding:8px 16px;
    text-decoration:none;
    text-shadow:0px 1px 1px #ffffff;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74cfab), color-stop(1, #eae0c2));
    background:-moz-linear-gradient(top, #74cfab 5%, #eae0c2 100%);
    background:-webkit-linear-gradient(top, #74cfab 5%, #eae0c2 100%);
    background:-o-linear-gradient(top, #74cfab 5%, #eae0c2 100%);
    background:-ms-linear-gradient(top, #74cfab 5%, #eae0c2 100%);
    background:linear-gradient(to bottom, #74cfab 5%, #eae0c2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74cfab', endColorstr='#eae0c2',GradientType=0);
    background-color:#74cfab;
}

.myButton2 {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a7c0eb), color-stop(1, #476e9e));
    background:-moz-linear-gradient(top, #a7c0eb 5%, #476e9e 100%);
    background:-webkit-linear-gradient(top, #a7c0eb 5%, #476e9e 100%);
    background:-o-linear-gradient(top, #a7c0eb 5%, #476e9e 100%);
    background:-ms-linear-gradient(top, #a7c0eb 5%, #476e9e 100%);
    background:linear-gradient(to bottom, #a7c0eb 5%, #476e9e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7c0eb', endColorstr='#476e9e',GradientType=0);
    background-color:#a7c0eb;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
    cursor:pointer;
    color:#ffffff;
    padding:8px 16px;
    text-decoration:none;
    text-shadow:0px 1px 1px #283966;
}
.myButton2:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #a7c0eb));
    background:-moz-linear-gradient(top, #476e9e 5%, #a7c0eb 100%);
    background:-webkit-linear-gradient(top, #476e9e 5%, #a7c0eb 100%);
    background:-o-linear-gradient(top, #476e9e 5%, #a7c0eb 100%);
    background:-ms-linear-gradient(top, #476e9e 5%, #a7c0eb 100%);
    background:linear-gradient(to bottom, #476e9e 5%, #a7c0eb 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#a7c0eb',GradientType=0);
    background-color:#476e9e;
}

