/***************************** FONT STYLES ********************************/
/*@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-Regular.ttf') format('truetype');
}*/
/************************************************************************/

html { 
	overflow-y:scroll;
	background: white;
 }

li {
	display: inline;
}

p {
	font-family: "Brush Script Std";
}

body {	
	font-family: "Lobster", Broadway;
	font-size: 20px;
	/*font-family: 'Titillium Web', sans-serif;*/
	/*font: 20px "Lobster", cursive;*/

	margin-left:10%;
    margin-right:10%;

	padding-left: 25px; 
    padding-right: 25px;
	padding-top: 60px;
	padding-bottom: 60px;

	/* Yellow Gradient */
	background: rgb(247,206,101);  
	background: -moz-linear-gradient(top,  rgba(247,206,101,1) 0%, rgba(247,247,190,1) 18%, rgba(247,247,190,1) 83%, rgba(247,206,101,1) 100%, rgba(247,206,101,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,206,101,1)), color-stop(18%,rgba(247,247,190,1)), color-stop(83%,rgba(247,247,190,1)), color-stop(100%,rgba(247,206,101,1)), color-stop(100%,rgba(247,206,101,1))); 
	background: -webkit-linear-gradient(top,  rgba(247,206,101,1) 0%,rgba(247,247,190,1) 18%,rgba(247,247,190,1) 83%,rgba(247,206,101,1) 100%,rgba(247,206,101,1) 100%); 
	background: -o-linear-gradient(top,  rgba(247,206,101,1) 0%,rgba(247,247,190,1) 18%,rgba(247,247,190,1) 83%,rgba(247,206,101,1) 100%,rgba(247,206,101,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(247,206,101,1) 0%,rgba(247,247,190,1) 18%,rgba(247,247,190,1) 83%,rgba(247,206,101,1) 100%,rgba(247,206,101,1) 100%); 
	background: linear-gradient(to bottom,  rgba(247,206,101,1) 0%,rgba(247,247,190,1) 18%,rgba(247,247,190,1) 83%,rgba(247,206,101,1) 100%,rgba(247,206,101,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ce65', endColorstr='#f7ce65',GradientType=0 ); 
}


.bodybg2 {
	background-color: rgb(25, 25, 25);
	color: White;
	padding-top: 5px;
	padding-bottom: 5px;
}

.jumbotron #firstheading {
	font-size: 55px;
}

.jumbotron #firstpar {
	font-family: Forte, "Brush Script Std";
	font-size: 25px;
	color: rgba(0,0,0, 0.65);
}

.jumbotron-bg1 {
	/*background-color: rgb(229, 226, 179);*/

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f8c5+0,f9d16b+0,f9d16b+35,f7f7be+91 */
	background: rgb(249,248,197); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,248,197,1) 0%, rgba(249,209,107,1) 0%, rgba(249,209,107,1) 35%, rgba(247,247,190,1) 91%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,248,197,1)), color-stop(0%,rgba(249,209,107,1)), color-stop(35%,rgba(249,209,107,1)), color-stop(91%,rgba(247,247,190,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,248,197,1) 0%,rgba(249,209,107,1) 0%,rgba(249,209,107,1) 35%,rgba(247,247,190,1) 91%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,248,197,1) 0%,rgba(249,209,107,1) 0%,rgba(249,209,107,1) 35%,rgba(247,247,190,1) 91%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,248,197,1) 0%,rgba(249,209,107,1) 0%,rgba(249,209,107,1) 35%,rgba(247,247,190,1) 91%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,248,197,1) 0%,rgba(249,209,107,1) 0%,rgba(249,209,107,1) 35%,rgba(247,247,190,1) 91%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f8c5', endColorstr='#f7f7be',GradientType=0 ); /* IE6-9 */

	padding-top: 10px;
	padding-bottom: 10px;
}

.list-group a:hover {
	background: rgb(0, 102, 0);
	/*background: rgb(108, 53, 108);*/
	/*background: rgb(178, 71, 0);*/
	color: White;
}

.list-group-item-bg {
	background: rgb(204, 204, 0);
	color: Black;	
}

#leadTitle {
	font-family: 'Orbitron', Algerian, sans-serif;
	font-size: 25px;
	margin-left: 20px;
}

footer{
	margin-top: 5px;
	margin-bottom: 7px;
}

#footerTitle {
	font-family: 'Orbitron', Andy, sans-serif;
	font-size: 15px;
}

#ourbrand {
	font-size: 25px;
	padding-left: 25px;
}

.navbar-header:hover{
	background: Brown;
}

.thumbnail-bg {
	/*background: rgb(219, 184, 77);*/

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#64a00b+0,e5e170+20,e5e170+79,64a00b+100 */
	background: rgb(100,160,11); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(100,160,11,1) 0%, rgba(229,225,112,1) 20%, rgba(229,225,112,1) 79%, rgba(100,160,11,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,160,11,1)), color-stop(20%,rgba(229,225,112,1)), color-stop(79%,rgba(229,225,112,1)), color-stop(100%,rgba(100,160,11,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(100,160,11,1) 0%,rgba(229,225,112,1) 20%,rgba(229,225,112,1) 79%,rgba(100,160,11,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(100,160,11,1) 0%,rgba(229,225,112,1) 20%,rgba(229,225,112,1) 79%,rgba(100,160,11,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(100,160,11,1) 0%,rgba(229,225,112,1) 20%,rgba(229,225,112,1) 79%,rgba(100,160,11,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(100,160,11,1) 0%,rgba(229,225,112,1) 20%,rgba(229,225,112,1) 79%,rgba(100,160,11,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64a00b', endColorstr='#64a00b',GradientType=0 ); /* IE6-9 */
}

.center {
	display: block;
	margin:0 auto;
}

.navbar {
	left: 10%;
	right: 10%;
}

#footerTitle {
	position: fixed;
	bottom: 0px;
	left: 10%;
	right: 10%;
	z-index: 1000;
}

.carousel {
	height: 360px;
}

.carousel img {
	width: 100%;
	height: 100%;
}

.list-group a {
	padding-left: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 24px;
}

/* For Table--------------------------------------------------------------------*/
.mytable1 {
    margin:0px;padding:0px;
    width:100%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #ffffff;
     
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
     
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
     
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
     
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}.mytable1 table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
 
}.mytable1 tr:hover td{
    background-color:rgb(13, 255, 91);
}
.mytable1 th{
    background-color: rgb(255, 138, 21);
 
    vertical-align:middle;
    border:1px solid #ffffff;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:18px;
    font-family:Georgia;
    font-weight:bold;
    color:white;
}
.mytable1 td{
    vertical-align:middle;
     
    background-color:rgb(0, 153, 51);
 
    border:1px solid #ffffff;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:18px;
    font-family:Georgia;
    font-weight:bold;
    color:#000000;
}.mytable1 tr:last-child td{
    border-width:0px 1px 0px 0px;
}.mytable1 tr td:last-child{
    border-width:0px 0px 1px 0px;
}.mytable1 tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.mytable1 tr:first-child td{
    background:-o-linear-gradient(bottom, #0057af 5%, #0057af 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #0057af) );
    background:-moz-linear-gradient( center top, #0057af 5%, #0057af 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#0057af");  background: -o-linear-gradient(top,#0057af,0057af);
 
    background-color:#0057af;
    border:0px solid #ffffff;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Georgia;
    font-weight:bold;
    color:#ffffff;
}
.mytable1 tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #0057af 5%, #0057af 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #0057af) );
    background:-moz-linear-gradient( center top, #0057af 5%, #0057af 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#0057af");  background: -o-linear-gradient(top,#0057af,0057af);
 
    background-color:#0057af;
}
.mytable1 tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.mytable1 tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}
/*-------------------------------------------------------------------------*/
 
.mytextbox {
    width: 100px;
}


/* For Form---------------------------------------------------------------*/
 .myform1{ 
    max-width: 50%; 
    min-width: 50%; 
    border-width: 3px; 
    border-color: black; 
    border-radius: 16px; 
    border-style: solid; 
    color: #000000; 
    font-size: 18px; 
    background-color: rgba(255, 255, 132, 0.5); 
    padding: 40px;
    margin: 0 auto;
} 
.content1{ 
    margin: 12px; 
} 
.myform1 label{ 
    color: #222222; 
    font-size: 19px; 
    display: block; 
} 
.myform1 input[type=radio], input[type=checkbox]{ 
    margin: 10px; 
    width: 13px; 
} 
.myform1 div{ 
    display: block; 
} 
.myform1 input, myform1 textarea, myform1 select{ 
    border-width: 2px; 
    border-style: solid; 
    border-color: #666666; 
    border-radius: 4px; 
    padding: 2px; 
    width: 100%; 
} 
.myform1, .myform1 h1, .myform1 h2{ 
    font-family: 'Georgia'; 
} 
.myform1 h1{ 
    font-size: 42px; 
    color: #000000; 
    margin: 0px; 
    margin-bottom: 0px; 
    border-bottom-style: dotted; 
    border-bottom-color: #CCCCCC; 
    border-bottom-width: 0px; 
    border-radius: 0px; 
    background-color: rgba(179, 252, 105,0.25);
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px 
} 
.intro1{ 
    margin-bottom: 22px; 
} 
.clear{ 
    clear: both; 
} 
.myform1 textarea{ 
    height: 26px; 
    width: 100%; 
} 
.myform1 input[type=submit]{ 
    width: 50%; 
    height: 50px;
    background-color: #CCCCCC; 
    color: #222222;
    margin-left: 25%;
} 
.field1{ 
    margin-bottom: 12px; 
}
/*-------------------------------------------------------------------------*/
/*Changing twitter widget width*/
iframe[id^='twitter-widget-']
{
 width:350px !important;
}

/*-------------------------------------------------------------------------*/
/*Range style*/
#scoreNumber{
	width:220px;
}


